.containerProductListing
{
  width: 100%;
  display: flex;
}
.singleProductRow tr
{
    border: none  !important;
}
.singleProductRow{
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}