@import "../../App.css";
.product-border
{
  margin-right: 10px;
}
.product{
    padding: 10px;
    width: 100%;
    overflow: hidden;
    margin: 5px;
    border: 1px solid #ccc;
  }
  .product-img{
    margin-top: 00px;
    width: 300px;
    height: 300px;
    
  }
  .product-img img{
    width: 100%;
    height: 100%;
    
  }
  .product-name{
    margin: 10px 0;
    padding-right: 0px;
    font-weight: 700;
    text-align: center;
    text-transform:  capitalize;
    color: var(--maincolor);
    
  }
  .product-price
  {
    margin: 5px 0;
    margin-left: 70px;
    font-weight: 500;
    font-size: 15px;
    padding-right: 40px;
    text-align: center;
    display: inline;
    text-transform:  capitalize;
    color: var(--maincolor);
    
  }
  .add-to-cart Button
  {
    left: 0;
    font-size: 10px;
    width: 100px;
    background-color: var(--maincolor);
    transition: hover 0.5s linear;
    
  }
  
  .add-to-cart Button:hover
  {
   transform: scale(1.1);
    
  }
  .col-3{
    width: 25%;
}
.col-6{
  width: 100%;
  display: flex;
  align-content: center;
}
  
  