@import "../../App.css";
.orderSuccessMessage
{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: var(--maincolor);
}
.goToHomeBtn{
    border: none;
    cursor: pointer;
    outline: none;
    background: #6389fa;
    color: white;
    margin-top: 20px;
    padding: 12px 12px;
    font-size: 17px;
    text-transform: uppercase;
}