@import "../../App.css";
.navbar{
    width: 100%;
    height: 70px;
    line-height: 70px;
    left: 0;
    flex: none !important;
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
    position: sticky;
    background: var(--whitecolor);
    z-index:1;
    padding: 0 15px !important;
    font-size: 30px;
    font-weight: 800;
  }
  .navbar-header a{
    color: var(--maincolor);
  }
  .navbar-header a:hover{
    text-decoration: none;
    color: #4471f8;
  }
  .navbar-header a:active{
    text-decoration: none;
    color: var(--maincolor);
  }

  .cart-icon :hover{
    text-decoration: none;
    color: #4471f8;
  }
  .cart-icon :active{
    text-decoration: none;
  }
  .cart-icon
  {
    
    color: var(--maincolor);
    font-size: 20px;
  }
  .basket{
    position: relative;
    justify-content: center;
    
  }
  .basket span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    width: 22px;
    height: 22px;
    background:var(--blackcolor);
    border-radius: 50%;
    top: 17px;
    padding-bottom: 2px;
    color: var(--whitecolor);
    font-size: 15px;
    font-weight: 700;
    
  }
  