* {
  
  padding-left: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

 :root{
  --maincolor: #6389fa;
  --whitecolor: #fff;
  --blackcolor: #000;
  --light: #e24343;
} 

body
{
  top: 0;
  font-family: 'Merriweather', serif;
  
  
}
a{
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}