@import "../../App.css";
.cart{
    margin-top: 10px;
    align-items: center;
    text-align: center;
    color: var(--maincolor ) ;

}
.table
{
    color: var(--maincolor ) !important ;

}
.flex-direction{
    flex-direction:row;
  }
.cartInfo{
    display: flex;
}

.cart h3{
    font-weight: 400;
    text-align: center;
}
.col-2{
    text-align: center;
    width: 16.33333333333333%;
}
.col-6{
    
    font-size: 17px; 
}
.col-3{
    width: 100%;
    font-size: 13px;
}
.col-9
{
    max-width: 100% !important;
}
tbody tr
{
    border: none !important;
}

.cart-heading th{
    background: #f4f6f8;
    padding: 10px;
    text-align: center;
    
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
  }

.VerticalAlign
{
    margin-top: 10px;
    align-items: center;
}


@media (max-width:870px) {
   
   
   .flex-direction{
    flex-direction:column;
    }
   
   .cart-info{
    flex-direction: column;
    }
    col-9{
        width: 100% !important;
    }
}
@media (max-width:770px) {
   
     col-9{
         max-width: 100% !important;
     }
 }
