@import "../../App.css";
.cart-summary
{
    
    font-weight: 700; 
    margin: 0;
    width: 100%;
    margin-right: 50px;
}
.cart-summary-heading
{
    background: #f4f6f8;
    margin-top: 0;
    padding-bottom: 10px;
    font-weight: 700;
    padding-top: 10px;
    
}
.cart-summary-details
{
    background: #6389fa;
    color: #fff;
    padding: 15px;
    width: 100%;
    
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
  }
.col-9
{
    width: 100%;
    
}
.cart-detail
{
    text-align: left;
    display: inline;
    font-size: 13px;
}
.mb-10{
    margin-bottom: 10px;

}
.checkoutBtn
{
    border: none;
    cursor: pointer;
    outline: none;
    background: #f4f6f8 !important;
    color: #6389fa !important;
    width: 100%;
    padding: 12px 5px;
    font-size: 17px !important  ;
    font-weight: 700 !important;
    text-transform: uppercase;
}
.removeAllBtn
{
    border: none;
    cursor: pointer;
    outline: none;
    background: rgb(247, 34, 34) !important;
    color: #6389fa;
    width: 100%;
    padding: 12px 5px;
    margin-top: 10px;
    font-size: 17px;
    text-transform: uppercase;
}
@media (max-width:765px) {
    .col-2{
        width: 100%;
        text-align: center;
    }
   
    .col-9{
        width: 100%;
    }
   
    
}
@media (max-width:900px) {
    .col-2{
        width: 100%;
    }
   
   .flex-direction{
    flex-direction:column;
    }
    .cart-summary{
        margin: 10%;
        width: 75%;
    }
  
}