@import "../../App.css";
.cart-empty-message
{
    color: var(--maincolor);
    font-size: 17px;
}
.return-to-shop
{
    border: none;
    cursor: pointer;
    outline: tomato;
    background: var(--maincolor) !important;
    color: white !important;
    display: "flex";
    justify-content: "center";
    align-items: "center";
    padding: 12px 5px;
    font-size: 17px;
    text-transform: uppercase;
    width:20%;
    margin-left:40%;
    margin-right:40%;
}
@media (max-width:900px) {
   
    
    .return-to-shop
    {
        width:50%;
    margin-left:25%;
    margin-right:25%;
    }
}