@import "../../App.css";
.cart-image img
{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.cart-remove{
    cursor: pointer;
}

@media (max-width:900px) {
   
    
    .details-incDec {
        justify-content: end;
      
   }
   .flex-direction{
    flex-direction:column;
    }
   
}
.decrement,
.increment,
.quantity {
	width: 40px;
	height: 40px;
	border: 1px solid silver;
	display: flex;
	align-items: center;
	justify-content: center;
}
.details-incDec {
    justify-content: center;
   display: flex;
   align-content: center;
}
@media (max-width:900px) {
   
    
    .details-incDec {
        justify-content: end;
      
   }
   
   
}